<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kdjj.presentation">

    <application>
        <activity
            android:name=".view.recipeeditor.RecipeEditorActivity"
            android:exported="false" />
        <activity
            android:name=".view.splash.LaunchActivity"
            android:exported="true" />
    </application>

</manifest>